body {
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#joke {
    color: white;
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: red;
}

@media screen and (max-width: 992px) {
    .navbar {
        background-color: red;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: red;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        background-color: red;
    }
}